[push]
	default = simple
[color]
	ui = auto
[user]
	name = {{ .name }}
	email = {{ .email }}
{{- if eq .chezmoi.os "darwin" }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN7GPWeFDUz9rzVU8A4WtbywHJNZYclST7GGvo56pLrZ
{{- end }}
[alias]
	purr = pull
[pull]
	ff = only
[submodule]
	recurse = true
[gui]
	stageuntracked = no
	warndetachedcommit = false
[core]
	excludesfile = ~/.gitignore
	editor = vim
[diff]
	algorithm = histogram
	coloredMove = plain
	renames = true
	mnemonicPrefix = true
[column]
	ui = auto
[tag]
	sort = version:refname
[fetch]
	prune = true
	prunetags = false
	all = true
[commit]
	verbose = true
{{- if eq .chezmoi.os "darwin" }}
	gpgsign = true

[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- end }}
