# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME="robbyrussell"

COMPLETION_WAITING_DOTS="true"
DISABLE_UNTRACKED_FILES_DIRTY="true"

# Which plugins would you like to load?
# Standard plugins can be found in $ZSH/plugins/
# Custom plugins may be added to $ZSH_CUSTOM/plugins/
# Add wisely, as too many plugins slow down shell startup.
plugins=(git rust sudo tmux vi-mode web-search z)

source $ZSH/oh-my-zsh.sh

# User configuration

{{- if eq .chezmoi.os "linux" }}

# Materialize CI license (Linux workstation only)
export MZ_LICENSE_KEY=$HOME/.mz-license-key
[ -r "$MZ_LICENSE_KEY" ] && export MZ_CI_LICENSE_KEY=$(cat "$MZ_LICENSE_KEY")

# gnome-keyring SSH agent
export SSH_AUTH_SOCK=/run/user/1000/gcr/ssh
{{- end }}
