{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
tap "jundot/omlx", "git@github.com:jundot/omlx.git"
tap "materializeinc/cockroach"
# tap "materializeinc/crosstools" # broken upstream: TAP_PATH hard-coded to def-/

brew "aarch64-elf-gcc"
brew "aarch64-elf-gdb"
brew "age"
brew "aspell"
brew "awscli"
brew "buf"
brew "buildkite/buildkite/bk@3"
brew "ccusage"
brew "chezmoi"
brew "cmake"
brew "corepack"
brew "coreutils"
brew "docker"
brew "docker-compose"
brew "hf"
brew "gemini-cli"
brew "gh"
brew "git"
brew "git-gui"
brew "git-svn"
brew "github-mcp-server"
brew "gnu-sed"
brew "htmltest"
brew "hugo"
brew "jundot/omlx/omlx"
brew "k9s"
brew "libomp"
brew "libpq"
brew "lld"
brew "macvim"
brew "make"
brew "marp-cli"
brew "materializeinc/cockroach/cockroach"
# brew "materializeinc/crosstools/aarch64-unknown-linux-gnu"
# brew "materializeinc/crosstools/libfdb-c-aarch64-unknown-linux-gnu"
brew "midnight-commander"
brew "mosh"
brew "neovide"
brew "ninja"
brew "node"
brew "openjdk"
brew "poppler"
brew "postgresql@18"
brew "python@3.14"
brew "qemu"
brew "rust"
brew "shellcheck"
brew "smartmontools"
brew "syncthing"
brew "teleport"
brew "tmux"
brew "uv"
brew "yq"

cask "1password"
cask "1password-cli"
cask "android-platform-tools"
cask "antigravity"
cask "claude-code@latest"
cask "easy-move+resize"
cask "firefox"
cask "ghostty"
cask "google-chrome"
cask "jetbrains-toolbox"
cask "karabiner-elements"
cask "keepassxc"
cask "krita"
cask "linear"
cask "notion"
cask "ollama-app"
cask "orbstack"
cask "rustrover"
cask "slack"
cask "syncthing-app"
cask "tailscale-app"
cask "visual-studio-code"
cask "vlc"
cask "zoom"
EOF
{{ end -}}
